.bingo-cell {
  position: relative;
  background-color: var(--bingo-cell-bg);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  font-size: 16px;
  border: solid 1px black;
  transition: all 0.3s;
  cursor: pointer;
}

.bingo-cell-span {
  position: relative;
  width: 135px;
  height: 135px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 0 5px;
  hyphens: auto;
}

// This is to target the middel
.bingo-card .bingo-cell:nth-child(13) {
  font-weight: bold;
}

.bingo-card .bingo-cell.active:nth-child(13) {
  text-decoration: none;
  background-color: var(--bingo-cell-bg);

  .bingo-cell-span {
    background-color: var(--bingo-cell-bg);
    span {
      opacity: 1;
    }
  }
}

.bingo-cell.active:nth-child(13) .bingo-cell-span {
  text-decoration: none;
  background-color: transparent;
}

.bingo-card .bingo-cell:nth-child(13):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 145px;
  height: 145px;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 999;
}

.bingo-cell.active {
  text-decoration: line-through;

  .bingo-cell-span {
    background: rgba(197, 197, 197, 0.5);

    span {
      opacity: 0.4;
    }
  }

  .bingo-cell-span.win {
    background: var(--bingo-cell-win);
  }
}

// Media queries for responsiveness

@media (max-width: 480px) {
  .bingo-cell {
    width: 72px;
    height: 72px;
    padding: 2px;
  }

  .bingo-card .bingo-cell:nth-child(13):before {
    width: 72px;
    height: 72px;
  }

  .bingo-cell-span {
    width: 70px;
    height: 65px;
    padding: 2.5px 5px; // Update this line
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .bingo-cell {
    width: 60px;
    height: 60px;
    font-size: 8px;
  }

  .bingo-card .bingo-cell:nth-child(13):before {
    width: 60px;
    height: 60px;
  }

  .bingo-cell-span {
    width: 55px;
    height: 55px;
    padding: 2.5px 5px;
  }
}
