.bingo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-container {
  padding: 5px;
  text-align: center;
}

.bingo-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  transform: rotate(359deg);
}
