//fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap");

//main theme
@import "./main";

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Color variables for light and dark mode

.container.light {
  background-color: var(--background-color);
}

.container.dark {
  background-color: var(--background-color);
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--txt);
}

.overflow-hidden {
  overflow: hidden;
}
